### Apriori Algoritması ile Sepet Analizi

In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
dataset =[]
import random

In [3]:
items = ['Chocolate', 'Cheese', 'Eggs',
         'Bread', 'Yogurt', 'Milk',
         'Sugar', 'Coffee', 'Chicken']

In [4]:
for i in range(1, 15):
    k = random.randrange(1, len(items)+1)
    dataset.append(random.choices(items, k=k))

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Bread  Cheese  Chicken  Chocolate  Coffee   Eggs   Milk  Sugar  Yogurt
0   False    True    False      False   False  False  False  False    True
1   False    True     True       True   False  False   True   True   False
2   False    True    False       True   False   True   True   True    True
3   False   False    False      False   False   True   True   True   False
4   False   False    False      False    True  False  False  False   False
5    True   False     True      False    True  False   True   True    True
6    True    True    False       True   False  False  False   True    True
7   False    True    False      False   False  False  False  False    True
8   False   False    False      False   False   True  False   True    True
9    True    True    False       True   False   True   True   True    True
10   True    True    False      False   False  False   True  False   False
11   True   False    False      False   False  False   True  False   False
12   True   False    False      False   False   True   True   True    True
13   True   False     True       True   False   True   True  False    True

In [6]:
(apriori(df, min_support=0.15))
"Kural Sayısı:", len(apriori(df, min_support=0.15))

('Kural Sayısı:', 55)

In [7]:
apriori(df, min_support=0.15, use_colnames=True)

     support                            itemsets
0   0.500000                             (Bread)
1   0.500000                            (Cheese)
2   0.214286                           (Chicken)
3   0.357143                         (Chocolate)
4   0.428571                              (Eggs)
5   0.642857                              (Milk)
6   0.571429                             (Sugar)
7   0.642857                            (Yogurt)
8   0.214286                     (Cheese, Bread)
9   0.214286                  (Bread, Chocolate)
10  0.214286                       (Bread, Eggs)
11  0.428571                       (Bread, Milk)
12  0.285714                      (Sugar, Bread)
13  0.357143                     (Yogurt, Bread)
14  0.285714                 (Cheese, Chocolate)
15  0.285714                      (Cheese, Milk)
16  0.285714                     (Sugar, Cheese)
17  0.357143                    (Yogurt, Cheese)
18  0.214286                     (Milk, Chicken)
19  0.214286                   (Chocolate, Eggs)
20  0.285714                   (Chocolate, Milk)
21  0.285714                  (Sugar, Chocolate)
22  0.285714                 (Yogurt, Chocolate)
23  0.357143                        (Eggs, Milk)
24  0.357143                       (Sugar, Eggs)
25  0.357143                      (Yogurt, Eggs)
26  0.428571                       (Sugar, Milk)
27  0.357143                      (Yogurt, Milk)
28  0.428571                     (Yogurt, Sugar)
29  0.214286          (Yogurt, Bread, Chocolate)
30  0.214286                 (Bread, Eggs, Milk)
31  0.214286               (Yogurt, Bread, Eggs)
32  0.214286                (Sugar, Bread, Milk)
33  0.285714               (Yogurt, Bread, Milk)
34  0.285714              (Yogurt, Sugar, Bread)
35  0.214286           (Cheese, Chocolate, Milk)
36  0.285714          (Sugar, Cheese, Chocolate)
37  0.214286         (Yogurt, Cheese, Chocolate)
38  0.214286               (Sugar, Cheese, Milk)
39  0.214286             (Yogurt, Cheese, Sugar)
40  0.214286             (Chocolate, Eggs, Milk)
41  0.214286           (Yogurt, Chocolate, Eggs)
42  0.214286            (Sugar, Chocolate, Milk)
43  0.214286           (Yogurt, Chocolate, Milk)
44  0.214286          (Yogurt, Sugar, Chocolate)
45  0.285714                 (Sugar, Eggs, Milk)
46  0.285714                (Yogurt, Eggs, Milk)
47  0.285714               (Yogurt, Sugar, Eggs)
48  0.285714               (Yogurt, Sugar, Milk)
49  0.214286         (Yogurt, Bread, Eggs, Milk)
50  0.214286        (Yogurt, Sugar, Bread, Milk)
51  0.214286    (Sugar, Cheese, Chocolate, Milk)
52  0.214286  (Yogurt, Cheese, Chocolate, Sugar)
53  0.214286     (Yogurt, Chocolate, Eggs, Milk)
54  0.214286         (Yogurt, Sugar, Eggs, Milk)

In [8]:
apriori(df, min_support=0.15, use_colnames=True)
frequent_itemsets = apriori(df, min_support=0.15, use_colnames=True)

In [9]:
rules1 = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.30)
print("Oluşan Kural Sayısı:", len(rules1))

Oluşan Kural Sayısı: 246

In [11]:
rules1 = rules1.sort_values(['confidence'], ascending=False)
rules1["antecedent_len"] = rules1["antecedents"].apply(lambda x: len(x))
rules1["consequents_len"] = rules1["consequents"].apply(lambda x: len(x))
ruless = pd.DataFrame(rules1)
ruless.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
85,"(Sugar, Chocolate)",(Cheese),0.285714,0.500000,0.285714,1.0,2.000000,0.142857,inf,2,1
48,"(Bread, Eggs)",(Milk),0.214286,0.642857,0.214286,1.0,1.555556,0.076531,inf,2,1
169,"(Bread, Eggs)","(Yogurt, Milk)",0.214286,0.357143,0.214286,1.0,2.800000,0.137755,inf,2,2
204,"(Yogurt, Cheese, Chocolate)",(Sugar),0.214286,0.571429,0.214286,1.0,1.750000,0.091837,inf,3,1
205,"(Yogurt, Cheese, Sugar)",(Chocolate),0.214286,0.357143,0.214286,1.0,2.800000,0.137755,inf,3,1